# Dependencies
node_modules

# Build
dist
dist-ssr

# Test
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env

# OS
.DS_Store

# IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude Code
.agents
.claude
skills-lock.json
